<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    <div id= "chat-container">

    </div>
    <h1>MiniChat IA</h1>
    <div id="messages">
        <% history.forEach(msg => { %>
        <div class="message <%= msg.role %>">
            <strong><%= msg.role === 'user' ? 'Você:' : 'IA Groq:' %></strong>
            <span><%= msg.content %></span>
        </div>
        <% }); %>
    </div>

    <form id="chat-fomr">
        <input type="text" id="message-input" placeholder="Digite sua mensagem..." required>
        <button type="submit">Enviar</button>
    </form>
</body>
</html>